TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
TELEGRAM_ADMIN_ID=YOUR_TELEGRAM_ID
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_ID
SITE_URL=https://taklifnoma-fatxulla-zeboxon.vercel.app/
DJANGO_SECRET_KEY=change-this-secret
DEBUG=True

TELEGRAM_ADMIN_USERNAME=@your_username
